{% extends 'inventory/base.html' %}

{% load static %}
<title>Item DataTable</title>
<!-- DataTable.js-->
<link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
<!-- Custom CSS-->
<link href="{% static 'css/items.css' %}" rel="stylesheet"/>

{% block body_block %}
<div class="container mt-5">
    <div class="row">
        <table class="table table-success table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">Brand</th>
                <th scope="col">Quantity</th>
                <th scope="col">Description</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
                <th scope="col">-</th>
              </tr>
            </thead>
            <tbody>
            {% for item in items %}
              <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.model }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.item_status }}</td>
                <td> 
                    <a href="{% url 'item_details' item.id %}" class="btn btn-primary" role="button" aria-disabled="true">Details</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock %}
