{% extends 'inventory/base.html' %}

{% load static %}
<title>Item DataTable</title>
<!-- DataTable.js-->
<link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
<!-- Custom CSS-->
<link href="{% static 'css/items.css' %}" rel="stylesheet"/>

{% block body_block %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table id="datatable-items" class="table">
                    <caption>
                        Item DataTable
                    </caption>
                    <thead>
                        <tr>
                            <th class="centered">#</th>
                            <th class="centered">Model</th>
                            <th class="centered">Brand</th>
                            <th class="centered">Quantity</th>
                            <th class="centered">Description</th>
                            <th class="centered">Location</th>
                            <th class="centered">Status</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_items"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-success table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">Brand</th>
                <th scope="col">Quantity</th>
                <th scope="col">Description</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
                <th scope="col">-</th>
              </tr>
            </thead>
            <tbody>
            {% for item in items %}
              <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.model }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.item_status }}</td>
                <td> 
                    <a href="{% url 'item_details' item.id %}" class="btn btn-primary" role="button" aria-disabled="true">Details</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
</div>
    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTable.js -->
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <!-- Custom JS-->
<script src="{% static 'js/items.js' %}"></script>
{% endblock %}
